<template>
    <v-app>
        <gta-navbar :user_auth="user_auth" :user_name="user_name"></gta-navbar>
        <transition name="slide-fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </v-app>
</template>


<script>
    import axios from 'axios'
    export default {
        props: ['user_auth', 'user_name'],
        data: () => ({
            
        }),
        created: function() {
            if(this.loggedIn) {
                //this.getAvatar();
            }
        },
        computed: {
            loggedIn: function() {
                return this.user_auth === "1";
            },
            getName: function() {
                if(this.loggedIn) {
                    return this.user_name;
                } else {
                    return "Invitado";
                }
            },
            getFirstName: function() {
                if(this.loggedIn) {
                    return this.user_name.split(' ')[0];
                } else {
                    return "Invitado";
                }
            }
        },
        methods: {
            getAvatar: function() {
                if(this.loggedIn) {
                    let url = '/account/avatar';
                    axios.get(url).then(response => {
                        this.user_avatar = response.data;
                    }).catch(error => {
                        this.user_avatar = "https://d3gafhzotuwaoh.cloudfront.net/img/static/profile/explore-user.svg";
                    });
                } else {
                    this.user_avatar = "https://d3gafhzotuwaoh.cloudfront.net/img/static/profile/explore-user.svg";
                }
            }
        },
        mounted () {
        }
    }
</script>

<style scoped>

</style>