<template>
    <div>
        <v-img src="https://gtav.es/groxor/static/imgs/backgrounds/bg2.png" height="100vh" style="margin-top: -64px">
            <v-row align="center" justify="center" style="height: 100vh;">
                <v-col class="text-center">
                    <img src="https://gtav.es/groxor/static/imgs/logo.svg" width="400px" alt="">
                </v-col>
                <v-col class="text-center">
                    <v-row>
                        <v-col>
                            <!--iframe src='https://api.trackyserver.com/widget/tracky.php?id=418379&map=1&version=1&votes=1&plist=1&connect=1&color1=ff8415&color2=333&color3=333&color4=fff&color5=fff&color6=8a8e94&color7=8a8e94&color8=8a8e94&color9=fff&title=[ESP] 🌍 GTAV.ES️ Roleplay ® 🌍' width='300' height='400' allowtransparency='true' frameborder='0'></iframe-->
                            <iframe src="https://api.trackyserver.com/widget/tracky.php?id=418379&map=1&version=0&votes=1&plist=0&connect=1&color1=FFBE26&color2=333333&color3=333333&color4=FFFFFF&color5=FFFFFF&color6=8A8E94&color7=8A8E94&color8=8a8e94&color9=fff&title=[ESP] 🌍 GTAV.ES️ Roleplay ® 🌍" width="auto" height="150" allowtransparency="true" frameborder="0"></iframe>
                            <!--v-card flat color="rgba(0,0,0, 0.5)" dark class="mt-10" style="max-width: 600px; margin: 0 auto;">
                                <v-card-title style="background: inherit" class="font-family--raleway font-weight-bold">TOP DONADORES</v-card-title>
                                <v-list dense nav class="pb-5" style="background: inherit; border-radius: 0 0 4px 4px;">
                                    <v-list-item-group v-model="item" color="primary">
                                        <v-list-item v-for="n in 5" :key="n" class="mb-3" style="min-width: 250px; width: 80%; margin: 0 auto; background-color: rgba(0,0,0,0.2)">
                                            <v-list-item-icon class="mt-3">
                                                <v-icon right>face</v-icon>
                                            </v-list-item-icon>

                                            <v-list-item-content>
                                                <v-list-item-title v-text="'Jugador ' + n"></v-list-item-title>
                                            </v-list-item-content>

                                            <v-list-item-action class="mr-3">
                                                $100k
                                            </v-list-item-action>
                                        </v-list-item>
                                    </v-list-item-group>
                                    <v-btn href="https://www.paypal.com/pools/c/86Z2Gko0uW" target="_blank" color="teal lighten-2" class="mt-5" depressed dark large>REALIZAR UNA DONACIÓN</v-btn>
                                </v-list>
                            </v-card-->
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-img>

        <v-container fluid class="pt-10" style="background: rgb(250,250,250); background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);">
            <v-container class="pb-10 mb-10" style="width: 70%">
                <v-row>
                    <v-col>
                        <p class="display-1 font-weight-black text-center" style="color: #333; font-family: Raleway !important;">SOBRE NOSOTROS</p>
                        <p class="headline text-center font-weight-light" style="color: #333; font-family: Raleway !important;">¿Qué pintamos y qué hacemos?</p>
                    </v-col>
                </v-row>

                <div class="my-10" style="background-color: #333; margin: 0 auto; height: 2px; width: 50px;"></div>

                <v-row>
                    <v-col class="px-8">
                            <p class="headline font-weight-black text-center" style="color: #333; font-family: Raleway !important;">¿Qué es GTAV.ES?</p>
                            <div class="my-5" style="background-color: #F1C40F; margin: 0 auto; height: 2px; width: 100%;"></div>
                            <p class="text-center grey--text text--darken-1">Somos la comunidad hispanohablante por excelencia de GTAV, desarrollamos nuestros propios gamemodes (personalizados y con sistemas propios) para el cliente de FiveM y administramos nuestros servidores para que tu, jugador, puedas disfrutarlos sin limites ni preocupaciones.</p>
                            <v-row style="width: 150px; margin: 0 auto">
                                <v-col><a href="https://www.facebook.com/gtaes" target="_blank" class="icon-fb"><v-icon>fab fa-facebook</v-icon></a></v-col>
                                <v-col><a href="https://www.gtav.es/web/#" target="_blank" class="icon-tw"><v-icon>fab fa-twitter</v-icon></a></v-col>
                                <v-col><a href="https://www.instagram.com/gtav.es" target="_blank" class="icon-ig"><v-icon>fab fa-instagram</v-icon></a></v-col>
                            </v-row>
                    </v-col>
                    <v-col class="px-8">
                            <p class="headline font-weight-black text-center" style="color: #333; font-family: Raleway !important;">PROCESO DE DESARROLLO</p>
                            <div class="my-5" style="background-color: #F1C40F; margin: 0 auto; height: 2px; width: 100%;"></div>
                            <p class="text-center grey--text text--darken-1">Versión de desarrollo: Fase Beta, versión 11.06.2019</p>

                            <span class="caption font-weight-bold">FIVEM: GTAV.ES ROLEPLAY</span>
                            <v-progress-linear buffer-value="90" value="82" stream color="blue"></v-progress-linear>
                            <br>
                            <span class="caption font-weight-bold">FIVEM: GTAV.ES DRIFT</span>
                            <v-progress-linear buffer-value="62" value="58" stream color="blue"></v-progress-linear>
                            <br>
                            <span class="caption font-weight-bold">FIVEM: GTAV.ES BATTLEROYAL</span>
                            <v-progress-linear buffer-value="52" value="49" stream color="blue"></v-progress-linear>
                            <br>
                            <span class="caption font-weight-bold">FIVEM: GTAV.ES PROTEGER AL PRESIDENTE</span>
                            <v-progress-linear buffer-value="60" value="56" stream color="blue"></v-progress-linear>
                            <br>
                            <span class="caption font-weight-bold">WEB / FORO / PCU / PANEL</span>
                            <v-progress-linear buffer-value="94" value="75" stream color="blue"></v-progress-linear>
                    </v-col>
                </v-row>
            </v-container>
        </v-container>

        <v-img src="/groxor/static/imgs/backgrounds/bgfeatures.jpg" height="350px" position="top">
            <v-container style="width: 80%">
                    <v-row justify="center">
                        <v-col class="text-center">
                            <v-icon x-large class="mb-5">fas fa-cogs</v-icon>
                            <p class="title font-weight-bold" style="color: #333">MAQUINARIA ENGRASADA</p>
                            <p>Infraestructura ejemplar</p>
                            <p>Contamos con la infraestructura mas segura y moderna que podras encontrar en Europa y Norte America, tus datos estaran seguros en todo momento.</p>
                        </v-col>
                        <v-col class="text-center">
                            <v-icon x-large class="mb-5">fas fa-gamepad</v-icon>
                            <p class="title font-weight-bold" style="color: #333">GAMEMODES</p>
                            <p>Desarrollo constante</p>
                            <p>Estamos desarollando constantemente distintos modos de juego para los jugadores de GTAV.es, tienes alguna idea? comentanosla!.</p>
                        </v-col>
                        <v-col class="text-center">
                            <v-icon x-large class="mb-5">fas fa-thumbs-up</v-icon>
                            <p class="title font-weight-bold" style="color: #333">FEEDBACK</p>
                            <p>¡Te necesitamos!</p>
                            <p>Necesitamos el feedback de nuestros jugadores para poder mejorar lo que ofrecemos, y que tu -jugador- puedas disfrutarlo sin problemas.</p>
                        </v-col>
                        <v-col class="text-center">
                            <v-icon x-large class="mb-5">fas fa-user-check</v-icon>
                            <p class="title font-weight-bold" style="color: #333">ADMINISTRACION</p>
                            <p>Profesional y cercana</p>
                            <p>Tanto nuestro equipo de desarrollo como la administracion de cada servidor esta conformada por profesionales y/o personas entregadas a su labor.</p>
                        </v-col>
                    </v-row>
            </v-container>
        </v-img>

        <v-row>
            <v-col class="pa-0">
                <section class="pen">
                    <div class="stage">
                        <a href="ts3server://ts.gtav.es?port=9988" @mouseover="isHovering3 = true" @mouseout="isHovering3 = false" :class="['element', 'trevor', isHovering3 ? 'active' : ((!isHovering1 && !isHovering2) ? '' : 'inactive')]"></a><!--
                        --><a href="fivem://connect/54.38.122.183:30120" @mouseover="isHovering1 = true" @mouseout="isHovering1 = false" :class="['element', 'michael', (isHovering1) ? 'active' : ((!isHovering2 && !isHovering3) ? '' : 'inactive')]"></a><!--
                        --><a href="https://www.gtav.es/discord" target="_blank" @mouseover="isHovering2 = true" @mouseout="isHovering2 = false" :class="['element', 'franklin', isHovering2 ? 'active' : ((!isHovering1 && !isHovering3) ? '' : 'inactive')]"></a>
                    </div>
                </section>
            </v-col>
        </v-row>

        <v-container fluid class="pt-10" style="width: 70%">
                <v-row>
                    <v-col>
                        <p class="display-1 font-weight-black text-center" style="color: #333; font-family: Raleway !important;">DESCARGAS</p>
                        <p class="headline text-center font-weight-light" style="color: #333; font-family: Raleway !important;">Nuestros servidores estan basados en dichas modificaciones</p>
                    </v-col>
                </v-row>

                <div class="my-10" style="background-color: #333; margin: 0 auto; height: 2px; width: 50px;"></div>

                <v-row>
                    <v-col class="px-8">
                            <p class="headline font-weight-black text-center mb-7" style="color: #333; font-family: Raleway !important;">Descarga e instalación</p>

                            <p class="title font-weight-black" style="color:#333; font-family: Raleway !important">Requisitos de instalación</p>
                            <ul class="caption" style="font-family: Montserrat">
                                <li><v-icon small color="#333">fa fa-check-circle</v-icon> Tener una instalacion limpia de GTAV.</li>
                                <li><v-icon small color="#333">fa fa-check-circle</v-icon> Tener el juego completamente actualizado.</li>
                                <li><v-icon small color="#333">fa fa-check-circle</v-icon> Tener el juego instalado en una carpeta sin necesidad de permisos de administrador.</li>
                                <li><v-icon small color="#333">fa fa-exclamation-circle</v-icon> <a href="https://www.microsoft.com/en-us/download/details.aspx?id=48145">Instalar Visual C++ 2015 Redistributable [REQUERIDO]</a></li>
                                <li><v-icon small color="#333">fa fa-exclamation-circle</v-icon> <a href="https://www.microsoft.com/en-us/download/details.aspx?id=40784">Instalar Visual C++ 2013 Redistributable [REQUERIDO]</a></li>
                            </ul>

                            <p class="title font-weight-black mt-10" style="color:#333; font-family: Raleway !important">Para usuarios que no tienen Windows 10</p>
                            <ul class="iconlist">
                                <li><i class="fa fa-exclamation-circle"></i> <a href="https://www.microsoft.com/en-us/download/details.aspx?id=53344">Instalar .NET Framework 4.6.2 Redistributable o mas actualizado [REQUERIDO]</a></li>
                            </ul>

                            <p class="title font-weight-black mt-10" style="color:#333; font-family: Raleway !important">Instrucciones de instalacion</p>
                            <ul class="iconlist">
                                <li><v-icon small color="#333">fa fa-arrow-circle-o-right</v-icon> Descargar el instalador.</li>
                                <li><v-icon small color="#333">fa fa-arrow-circle-o-right</v-icon> Ejecutar el instalador.</li>
                                <li><v-icon small color="#333">fa fa-arrow-circle-o-right</v-icon> Y listo, ya tienes todo lo necesario para jugar en FiveM.</li>
                            </ul>
                            <br>
                            <v-btn outlined rounded light href="https://runtime.fivem.net/client/FiveM.exe">Descargar FiveM.exe</v-btn>


                    </v-col>
                    <v-col class="px-8">
                            <p class="headline font-weight-black text-center" style="color: #333; font-family: Raleway !important;">FAQ PREVIAS</p>

                            <p class="title font-weight-black mb-1" style="color:#333; font-family: Raleway !important"><strong>1)</strong> Puedo utilizar FiveM con una copia no original?</p>
                            <p class="body-2">- <strong>Actualmente NO</strong>, FiveM posee un sistema de verificacion de la autenticidad del juego, unicamente podras ejecutar el cliente si estas logeado en la plataforma donde has adquirido el juego original.</p>

                            <p class="title font-weight-black mb-1" style="color:#333; font-family: Raleway !important"><strong>2)</strong> Puedo jugar a GTA Online teniendo instalado FiveM?</p>
                            <p class="body-2">- <strong>No es recomendable</strong>, pero puedes jugar perfectamente, sin problema alguno. Los desarrolladores de FiveM avisan de que al ser una modificacion del juego -aunque no influya sobre el gameplay- existe un riesgo minimo de ser baneado.</p>

                            <p class="title font-weight-black mb-1" style="color:#333; font-family: Raleway !important"><strong>3)</strong> Puedo jugar FiveM aunque este baneado en el Rockstar Social Club?</p>
                            <p class="body-2">- <strong>Probablemente si</strong>, pese a que el cliente utiliza el logeo de Social Club para verificar la cuenta original, nuestros servidores son independientes de los oficiales.</p>
                    </v-col>
                </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isHovering1: false,
            isHovering2: false,
            isHovering3: false,
        }
    },
}
</script>

<style scoped>
.pen {
    width: 100%;
    opacity: 0;
    position: relative;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-animation: 1s appear 1 forwards;
    -moz-animation: 1s appear 1 forwards;
    -o-animation: 1s appear 1 forwards;
    animation: 1s appear 1 forwards;
}
.stage {
    width: 100%;
    height: 600px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.element {
    background: green;
    cursor: pointer;
    width: 33.3%;
    -webkit-transform-origin: 50% 50%;
    height: inherit;
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.element.active {
    width: 40%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.element.inactive {
    width: 30%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    opacity: 0.4;
}
.element.franklin {
    background: url('/groxor/static/imgs/backgrounds/discord.jpg') 45% 0 no-repeat;
    background-size: cover;
}
.element.michael {
    background: url('/groxor/static/imgs/backgrounds/fivem.jpg') 45% 0 no-repeat;
    background-size: cover;
}
.element.trevor {
    background: url('/groxor/static/imgs/backgrounds/ts3.jpg') 45% 0 no-repeat;
    background-size: cover;
}
.element:last-of-type {
    margin: 0;
}

@-webkit-keyframes appear {
15% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@-moz-keyframes appear {
15% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@-o-keyframes appear {
15% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes appear {
15% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.icon-fb {
    text-decoration: none;
}
.icon-tw {
    text-decoration: none;
}
.icon-ig {
    text-decoration: none;
}
.icon-fb:hover > i {
    color: #3b5999;
    cursor: pointer;
}
.icon-tw:hover > i {
    color: #55acee;
    cursor: pointer;
}
.icon-ig:hover > i {
    color: #e4405f;
    cursor: pointer;
}
</style>
