<template>
    <div class="app-pcu">
        <v-tabs v-model="tab" align-with-title background-color="white">
            <v-tab key="info">Información</v-tab>
            <v-tab key="inventory">Inventario</v-tab>
            <v-tab key="vehicles">Vehículos</v-tab>
            <v-tab key="properties">Propiedades</v-tab>
            <v-tab key="logs">Logs</v-tab>
        </v-tabs>
        <v-container>
            <v-row class="mt-10">
                <v-col cols="3">
                    <v-card flat class="pa-3">
                        <v-card-text class="text-center">
                            <v-avatar size="128">
                                <img v-if="avatar" :src="user.avatar">
                            </v-avatar>
                            <br>
                            <v-chip class="ma-2" color="orange" label text-color="white" style="margin-top: -18px !important;">&nbsp;&nbsp;&nbsp;18&nbsp;&nbsp;&nbsp;</v-chip>
                            <p class="text-center mt-3 mb-2 headline" v-if="user">{{ user.firstname + ' ' + user.lastname }}</p>
                            <p class="text-center subtitle-2">Los Angeles</p>
                        </v-card-text>
                        <v-card-text class="px-10">
                            <v-progress-linear color="blue" height="8" value="64" class="mb-3"></v-progress-linear>
                            <span>Experiencia:</span>
                            <span class="float-right"><b>125</b>/450</span>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-text class="px-10">
                            Nivel de usuario: 18
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-text class="px-10" v-if="user">
                            Tipo de rango: {{ user.group }}
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col>
                    <v-tabs-items v-model="tab">

                        <v-tab-item key="info">
                            <v-card flat class="pa-3 px-10 mx-10">
                                <v-row>
                                    <v-col class="pr-10">
                                        <p class="title blue-grey--text text--darken-3 font-weight-bold">INFORMACIÓN PERSONAL</p>

                                        <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Nombre: <span class="float-right" v-if="user" v-text="user.firstname + ' ' + user.lastname">Adriel Guerrero</span></p>
                                        <v-divider class="my-3"></v-divider>

                                        <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Edad: <span class="float-right" v-if="user" v-text="user.dateofbirth">23 años</span></p>
                                        <v-divider class="my-3"></v-divider>

                                        <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Sexo: <span class="float-right" v-if="user" v-text="user.sex">Masculino</span></p>
                                        <v-divider class="my-3"></v-divider>

                                        <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Mafia: <span class="float-right" v-if="user">-</span></p>
                                        <v-divider class="my-3"></v-divider>

                                        <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Trabajo: <span class="float-right" v-if="user" v-text="user.job">Camionero</span></p>
                                        <v-divider class="my-3"></v-divider>
                                    </v-col>
                                    <v-col class="pl-10">
                                            <p class="title blue-grey--text text--darken-3 font-weight-bold">PERTENENCIAS</p>

                                            <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Dinero en efectivo: <span class="float-right green--text" v-if="user">${{ user.money }}</span></p>
                                            <v-divider class="my-3"></v-divider>

                                            <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Dinero en banco: <span class="float-right green--text" v-if="user">${{ user.bank }}</span></p>
                                            <v-divider class="my-3"></v-divider>

                                            <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Casa: <span class="float-right">Ninguna</span></p>
                                            <v-divider class="my-3"></v-divider>

                                            <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Negocio: <span class="float-right">Ninguno</span></p>
                                            <v-divider class="my-3"></v-divider>

                                            <p class="mb-0 grey--text text--darken-1" style="font-family: Montserrat !important;">Vehículo(s): <span class="float-right">Ninguno</span></p>
                                            <v-divider class="my-3"></v-divider>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-tab-item>

                        <v-tab-item key="inventory">
                            <v-card flat class="pa-3 px-10 mx-10">
                                <v-row>
                                    <v-col class="px-10">
                                        <p class="title blue-grey--text text--darken-3 font-weight-bold">INVENTARIO</p>

                                        <p class="text-center">No tienes ningún artículo</p>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-tab-item>

                        <v-tab-item key="vehicles">
                            <v-card flat class="pa-3 px-10 mx-10">
                                <v-row>
                                    <v-col class="px-10">
                                        <p class="title blue-grey--text text--darken-3 font-weight-bold">VEHÍCULOS</p>

                                        <p class="text-center">No tienes ningún vehículo</p>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-tab-item>

                        <v-tab-item key="properties">
                            <v-card flat class="pa-3 px-10 mx-10">
                                <v-row>
                                    <v-col class="px-10">
                                        <p class="title blue-grey--text text--darken-3 font-weight-bold">PROPIEDADES</p>

                                        <p class="text-center">No tienes ninguna propiedad</p>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-tab-item>

                        <v-tab-item key="logs">
                                <v-card flat class="pa-3 px-10 mx-10">
                                    <v-row>
                                        <v-col class="px-10">
                                            <p class="title blue-grey--text text--darken-3 font-weight-bold">LOGS</p>

                                            <p class="text-center">No tienes logs</p>
                                        </v-col>
                                    </v-row>
                                </v-card>
                            </v-tab-item>

                    </v-tabs-items>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                tab: null,
                user: null
            }
        },
        created: function() {
            this.getData();
        },
        methods: {
            getData: function() {
                axios.get('api/user').then(response => {
                    this.user = response.data;
                }).catch(error => {
                    console.log("Error al obtener datos");
                });
            }
        },
    }
</script>

<style>
    .app-pcu {
        background: url('/groxor/static/imgs/backgrounds/leaves-pattern.png') !important;
    }
</style>
