<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-toolbar flat light color="white" class="px-10" style="z-index: 4">
        <v-toolbar-items>
                <v-btn text to="/groxor">Inicio</v-btn>
                <v-btn text href="/foro" target="_blank">Foro</v-btn>
                <v-btn text to="/groxor/pcu">PCU</v-btn>
            <v-btn text>Servidores</v-btn>
            <v-btn text>Donaciones</v-btn>
        </v-toolbar-items>

        <v-spacer></v-spacer>

        <template>
            <v-btn v-if="!user_auth" href="auth/steam" text class="ma-2">
                <v-icon color="#171A21">fab fa-steam</v-icon> &nbsp; INCIAR SESIÓN
            </v-btn>

            <v-menu v-else offset-y>
                <template v-slot:activator="{ on }">
                    <v-btn text class="ma-2" v-on="on">{{ user_name }}
                        <v-icon right dark>keyboard_arrow_down</v-icon>
                    </v-btn>
                </template>
                <v-list dense>
                    <v-list-item @click="">
                        <v-list-item-title>Perfil</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                        <v-list-item-title>Cerrar sesión</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>

            <v-btn icon href="https://www.gtav.es/estado" target="_blank">
                <v-icon>fas fa-server</v-icon>
            </v-btn>
        </template>
    </v-toolbar>
</template>


<script>
    //import { mapGetters, mapState } from 'vuex'
    import axios from 'axios'

    export default {
        props: ['user_auth', 'user_name'],
        data() {
            return {

            }
        },
        created: function() {

        },
        methods: {

        },
        watch: {

        },
        computed: {
            /*...mapState({
                sessionStatus: state => state.session.session,
                sessionLoad: state => state.session.isLoadSession
            }),
            ...mapGetters('session', {
                session: 'session'
            }),
            ...mapGetters('cart', {
                cartContent: 'cart'
            }),*/
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>
